@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
.mapContainer {
    flex: 1;
    position: relative;
    width: 400px;
    height: 200px;
    margin: auto;
  }

  .map {
    height: 100%;
  }