@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .textField__input {
    @apply mt-2 w-full rounded-xl py-3 px-4  border-2 border-gray-200 hover:border-primary-500 focus:border-primary-500 
    focus:shadow-md focus:shadow-primary-300 transition-all duration-300 ease-linear
  }
  .btn {
    @apply px-3 py-1 font-bold rounded-xl transition-all duration-300;
  }
  .btn--primary {
    @apply px-4 py-3 bg-primary-900 text-white hover:bg-primary-800 shadow-lg shadow-primary-300;
  }
  .btn--secondary {
    @apply bg-secondary-600 text-secondary-100;
  }
  .btn--outline {
    @apply border border-secondary-700 text-secondary-700;
  }
  .btn--danger {
    @apply border border-rose-700 text-rose-700;
  }
}
@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Vazirmatn-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Vazirmatn-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts//Vazirmatn-Black.woff2") format("woff2");
}


body{
  background-color: rgb(243, 244, 246);
  padding: 0;
  margin: 0;
  font-family: "Vazir";
  min-height: 100vh;
  user-select: none;
  direction: rtl;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  padding: 0;
  margin: 0;
}

/* TABLE */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table .title-row {
  background-color:transparent;
}

table td,
table th {
  border-bottom: 1px solid gainsboro;
  text-align: right;
  white-space: nowrap;
  text-align: center;
}

table th {
  padding: 0.6rem 1rem;
  color: black;
  font-size: 0.9rem;
  font-weight: bolder;
}

table td {
  font-size: 0.85rem;
  padding: 1rem 1rem;
  color: black;
}
table td span{
  cursor: pointer;
}
