@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Vazirmatn-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Vazirmatn-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts//Vazirmatn-Black.woff2") format("woff2");
}


body{
  background-color: rgb(243, 244, 246);
  padding: 0;
  margin: 0;
  font-family: "Vazir";
  min-height: 100vh;
  user-select: none;
  direction: rtl;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  padding: 0;
  margin: 0;
}

/* TABLE */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table .title-row {
  background-color:transparent;
}

table td,
table th {
  border-bottom: 1px solid gainsboro;
  text-align: right;
  white-space: nowrap;
}

table th {
  padding: 0.6rem 1rem;
  color: black;
  font-size: 0.9rem;
  font-weight: bolder;
}

table td {
  font-size: 0.85rem;
  padding: 1rem 1rem;
  color: black;
}
